@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import url(bannerTop.css);


/* _______________ Esection _______________ */

#Esection{
  width:1300px;
  margin:0 auto;
}
h3{
  font-size:45px;
  font-weight:700;
  margin-left:20px;
  margin-top:60px;
  color:#323232;
}
.tab{display:inline-block;}
.tab li{
  float:left;
  margin:60px 20px 30px 30px;
  display:block;
  width:160px;
  height:45px;
  font-size:18px;
  color:#4e4e4e;
  font-weight:400;
  text-align:center;
  line-height:45px;
  border-radius:25px;
  background:rgb(233, 233, 233);
  cursor: pointer;
}
.tab li.selected{  /*현재 선택된 탭메뉴*/
	background:#F25E3D;
	color:#fff;
	font-weight:700;
}

.panel{
	clear:both;
  padding:20px;
	color:#ada394;
	font-size:14px;
	line-height:25px;
  padding-bottom:100px;
}
.panel li div div ul li a p:nth-of-type(1){
  color:#4e4e4e;
  font-size:17px;
  font-weight:700;
  margin:10px 0 5px;
}
.panel li div div ul{margin-bottom:20px;}

/* __________ tab1_1 */
/* #tab1{background:pink;} */
.tab1_1 li{float:left;}
.tab1_1 li:not(:last-child){margin-right:30px;}

/* __________ tab1_2 */
.tab1_2 li{float:left;}
.tab1_2 li:not(:last-child){margin-right:30px;}


/* __________ tab2 */
#tab2 div div ul li{position:relative;}
#tab2 div div ul li .tab2_Bbox{
  position:absolute;
  background:rgba(0,0,0,0.7);
  width:400px;
  height:214px;
  line-height:214px;
  text-align:center;
  font-size:16px;
  transition:all 0.3s;
}
#tab2 div div ul li:hover .tab2_Bbox{
  opacity:0;
  transform:scale(0,0);
}

/* __________ tab2_1 */
.tab2_1 li{float:left;}
.tab2_1 li:not(:last-child){margin-right:30px;}

/* __________ tab2_2 */
.tab2_2 li{float:left;}
.tab2_2 li:not(:last-child){margin-right:30px;}

/* _______________ E_section _______________ */

.E_return{
  text-align:center;
  background:#fff;
  border:1px solid #ada394;
  width:150px;
  height:40px;
  margin:60px auto;
  line-height:40px;
  color:#8f877b;
  border-radius:15px;
  transition:all 0.3s;
}
.E_return:hover{
  background:#b6b6b6;
  color:#fff;
  font-weight:bold;
}

/* _______________ E_1section _______________ */

#E_1section{
  width:1300px;
  margin:0 auto 100px;
}
h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
h4 span{
  margin-left:770px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_1image{text-align:center;margin-top:50px;}

/* _______________ E_2section _______________ */

#E_2section{
  width:1300px;
  margin:0 auto 100px;
}
#E_2section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_2section h4 span{
  margin-left:870px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_2image{text-align:center;margin-top:50px;}

/* _______________ E_3section _______________ */

#E_3section{
  width:1300px;
  margin:0 auto 100px;
}
#E_3section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_3section h4 span{
  margin-left:870px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_3image{text-align:center;margin-top:50px;}

/* _______________ E_4section _______________ */

#E_4section{
  width:1300px;
  margin:0 auto 100px;
}
#E_4section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_4section h4 span{
  margin-left:870px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_4image{text-align:center;margin-top:50px;}

.E_4image a:nth-child(5) img{float:left;margin-left:50px;}
.E_4image a:nth-child(6) img{float:left;}

/* _______________ E_5section _______________ */

#E_5section{
  width:1300px;
  margin:0 auto 100px;
}
#E_5section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_5section h4 span{
  margin-left:430px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_5image{text-align:center;margin-top:50px;}

.E_5image p{height:8px;}

/* _______________ E_6section _______________ */

#E_6section{
  width:1300px;
  margin:0 auto 100px;
}
#E_6section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_6section h4 span{
  margin-left:1200px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_6image{text-align:center;margin-top:50px;}

/* _______________ E_7section _______________ */

#E_7section{
  width:1300px;
  margin:0 auto 100px;
}
#E_7section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_7section h4 span{
  margin-left:980px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_7image{text-align:center;margin-top:50px;}

/* _______________ E_8section _______________ */

#E_8section{
  width:1300px;
  margin:0 auto 100px;
}
#E_8section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_8section h4 span{
  margin-left:980px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_8image{text-align:center;margin-top:50px;}

/* _______________ E_9section _______________ */

#E_9section{
  width:1300px;
  margin:0 auto 100px;
}
#E_9section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_9section h4 span{
  margin-left:780px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_9image{text-align:center;margin-top:50px;}

/* _______________ E_10section _______________ */

#E_10section{
  width:1300px;
  margin:0 auto 100px;
}
#E_10section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_10section h4 span{
  margin-left:850px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_10image{text-align:center;margin-top:50px;}

/* _______________ E_11section _______________ */

#E_11section{
  width:1300px;
  margin:0 auto 100px;
}
#E_11section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_11section h4 span{
  margin-left:480px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_11image{text-align:center;margin-top:50px;}

/* _______________ E_12section _______________ */

#E_12section{
  width:1300px;
  margin:0 auto 100px;
}
#E_12section h4{
  font-size:25px;
  font-weight:bold;
  margin-top:120px;
  letter-spacing:2px;
  border-bottom:2px solid #b6b6b6;
  padding-bottom:20px;
}
#E_12section h4 span{
  margin-left:940px;
  font-size:15px;
  color:#ada394;
  letter-spacing:0px;
}
.E_12image{text-align:center;margin-top:50px;}