@charset "utf-8";
@import url(./reset.css);
/* common */
html,
body {
	font-family: 'Pretendard-Regular', sans-serif;
	font-size: 16px;
	letter-spacing: -0.025rem;
}
/* 대체 텍스트 */
.blind {
	position: absolute;
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/* header */
header {
	position: fixed;
	width: 100%;
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	z-index: 10000;
}

.header-banner {
	height: 40px;
	background-color: #325c40;
}
.header-banner a {
	display: block;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
}

.gnb-wrap {
	display: flex;
	align-items: center;
	margin: 0 50px;
	padding-block: 20px;
}
h1 {
	margin-right: 110px;
}
.gnb-menu {
	display: flex;
}
.gnb-menu > li {
	position: relative;
	text-align: center;
	transition: all 0.3s;
}
.gnb-menu > li + li {
	margin-left: 60px;
}
.gnb-menu > li > a {
	color: #353132;
	font-size: 18px;
	font-weight: 600;
}
.gnb-menu > li:hover > a {
	color: #325c40;
}
.gnb-sub-menu {
	display: block;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%);
	background-color: #fff;
	z-index: 9999;
}
.gnb-sub-menu li {
	line-height: 61px;
	padding: 0 38px;
}
.gnb-sub-menu li {
	float: left;
	line-height: 61px;
	padding: 0 28px;
}
.gnb-sub-menu li {
	float: left;
	line-height: 61px;
	padding: 0 52.5px;
}
.gnb-sub-menu li {
	float: left;
	line-height: 61px;
	padding: 0 35.5px;
}
.gnb-sub-menu li {
	float: left;
	line-height: 61px;
	padding: 0 45px;
}
.gnb-menu > li .gnb-sub-menu li a {
	color: rgb(31, 29, 29);
	font-size: 16px;
}
.gnb-sub-menu li:hover {
	background: rgba(243, 166, 138, 0.9);
}
.gnb-sub-menu li:hover a {
	color: rgb(247, 243, 243);
	text-shadow: 2px 2px 3px #333;
}

.gnb-menu > li > ul.sub1 {
	left: 0px;
	width: 500px;
}
.gnb-menu > li > ul.sub2 {
	left: -80px;
	width: 600px;
}
.gnb-menu > li > ul.sub3 {
	left: 0px;
	width: 300px;
}
.gnb-menu > li > ul.sub4 {
	left: 0px;
	width: 200px;
}
.gnb-menu > li > ul.sub5 {
	left: 0px;
	width: 200px;
}

.utilmenu {
	position: relative;
	margin-left: auto;
}
.utilmenu > input {
	border: none;
}
.utilmenu .icon {
	vertical-align: middle;
	font-size: 32px;
}
.utilmenu .underline {
	display: inline-block;
	border-bottom: 2px solid #333;
	width: 185px;
	position: absolute;
	top: 70px;
	right: 58px;
}
.utilmenu a:nth-child(4) {
	margin-left: 20px;
}

.bg_box {
	display: none;
	width: 100%;
	height: 60px;
	background: #fff;
	border-top: 1px solid rgba(204, 204, 204, 0.5);
	border-bottom: 2px solid #ccc;
}
.headersize {
	width: 100%;
	height: 100px;
	visibility: hidden;
}

/* footer */
