/* font */
@font-face {
	font-family: 'Pretendard-Thin';
	font-style: normal;
	font-weight: 100;
	src: url('../font/Pretendard-Thin.woff') format('woff');
	src: url('../font/Pretendard-Thin.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-ExtraLight';
	font-style: normal;
	font-weight: 200;
	src: url('../font/Pretendard-ExtraLight.woff') format('woff');
	src: url('../font/Pretendard-ExtraLight.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Light';
	font-style: normal;
	font-weight: 300;
	src: url('../font/Pretendard-Light.woff') format('woff');
	src: url('../font/Pretendard-Light.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../font/Pretendard-Regular.woff') format('woff');
	src: url('../font/Pretendard-Regular.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Medium';
	font-style: normal;
	font-weight: 500;
	src: url('../font/Pretendard-Medium.woff') format('woff');
	src: url('../font/Pretendard-Medium.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Semibold';
	font-style: normal;
	font-weight: 600;
	src: url('../font/Pretendard-Semibold.woff') format('woff');
	src: url('../font/Pretendard-Semibold.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../font/Pretendard-Bold.woff') format('woff');
	src: url('../font/Pretendard-Bold.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Extrabold';
	font-style: normal;
	font-weight: 800;
	src: url('../font/Pretendard-Extrabold.woff') format('woff');
	src: url('../font/Pretendard-Extrabold.woff') format('woff2');
}
@font-face {
	font-family: 'Pretendard-Black';
	font-style: normal;
	font-weight: 900;
	src: url('../font/Pretendard-Black.woff') format('woff');
	src: url('../font/Pretendard-Black.woff') format('woff2');
}

/* 초기화 */
* {
	margin: 0;
	padding: 0;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	/*시맨틱태그를 지원하지 않은 브라우저 
	-> 인식하지 못하는 태그를 인라인으로 인식하기때문에 강제로 블럭으로 설정함*/
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

img {
	vertical-align: top; /*이미지에 원치 않는 여백이 생성되는 브라우저 오류가 발생하는 경우가 있음*/
	font-size: 0; /*폰트 크기 초기화*/
	border: 0; /* 이미지 링크시 기본적으로 나타나는 테두리 제거 */
}
table {
	border-collapse: collapse;
} /* 칸사이의 기본 여백 제거 및 중첩 테두리 상쇄 효과 */
input,
select {
	vertical-align: middle;
} /*문자와 나란히 입력박스를 배치하면 높낮이가 맞지않아 맞추기 위함 */

.clear:after {
	/* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
	content: '';
	display: block;
	clear: both;
}

button {
	border: 0px;
	background-color: transparent;
}

fieldset {
	border: none;
	font-size: 0;
}
fieldset button {
	vertical-align: bottom;
}
